/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/******* STYLING *********/

@font-face {font-family: 'LitteraPlainMedium';src: url('../webfonts/23E250_0_0.eot');src: url('../webfonts/23E250_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23E250_0_0.woff') format('woff'),url('../webfonts/23E250_0_0.ttf') format('truetype');}

body{
	width: 100%;
	height: 100%;
	font-family: 'Enriqueta', Helvetica, Arial, Sans-Serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 180%;
	color: #58b6dd;
	background: #F2F2F2;
}
h1{
	font-family: 'LitteraPlainMedium',Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 110%;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h2{
	font-weight: 700;
	font-size: 125%;
	color: black;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
	#cont{
		margin: 0 auto;
		border: solid 1px #DEDEDE;
		/* iPhone 5 specs */
		width: 640px;
		height: 1136px;
		background: white;
		position: relative;
	}
		#wrap{
			width: 100%;
			height: 92%;
		}
			.main.blurb{
				width: 80%;
				height: 70%;
				padding: 15% 10%;
			}
				.blurb h1{
					margin-bottom: 2.5em;
				}
				.blurb p{
					margin-bottom: 2em;
				}
				.blurb .logo-lnk{
					width: 80%;
					height: auto;
					display: block;
				}
				.blurb .logo{
					padding: 0.5em 0;
				}
			.main.feed{
				width: 100%;
				height: 100%;
				overflow: auto;
			}
				.main.feed li{
					width: 100%;
					height: 320px;
				}
					.main.feed .crop{
						width: 50%;
						height: 100%;
						background-position: center center;
					}
			.main.map{
				width: 100%;
				height: 100%;
			}
				#map-canvas{
					width: 100%;
					height: 100%;
				}

		footer{
			width: 100%;
			height: 8%;
			display: block;
			background-color: #57b6dd;
	  		background-image: -webkit-gradient(linear, left top, left bottom, from(#57b6dd), to(#4ea1d3)); /* Chrome, Safari 4+ */
	        background-image: -webkit-linear-gradient(top, #57b6dd, #4ea1d3); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	        background-image:    -moz-linear-gradient(top, #57b6dd, #4ea1d3); /* Firefox 3.6-15 */
	        background-image:      -o-linear-gradient(top, #57b6dd, #4ea1d3); /* Opera 11.10-12.00 */
	        background-image:         linear-gradient(to bottom, #57b6dd, #4ea1d3); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}
			.menu{
				float: left;
				width: 100%;
				height: 100%;
			}
				.menu li{
					float: left;
					width: 15%;
					height: 100%;
					text-indent: -9999px;
					transition: background .2s;
					-moz-transition: background .2s;
					-webkit-transition: background .2s;
					-o-transition: background .2s;
				}
					.menu li.log{
						width: 25%;
					}
					.menu li.active{
						background-color: #285e7f;
				  		background-image: -webkit-gradient(linear, left top, left bottom, from(#285e7f), to(#4591b0)); /* Chrome, Safari 4+ */
				        background-image: -webkit-linear-gradient(top, #285e7f, #4591b0); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
				        background-image:    -moz-linear-gradient(top, #285e7f, #4591b0); /* Firefox 3.6-15 */
				        background-image:      -o-linear-gradient(top, #285e7f, #4591b0); /* Opera 11.10-12.00 */
				        background-image:         linear-gradient(to bottom, #285e7f, #4591b0); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
					}
					.menu li:hover{
						background-color: rgba(40,94,127,0.15);
					}
						.menu li a{
							width: 100%;
							height: 100%;
							display: block;
						}
						.btn.log a{
							background: url(../images/logo-tdick.png) center no-repeat;
						}
						.btn.gal a{
							background: url(../images/icon-gallery.png) center no-repeat;
						}
						.btn.map a{
							background: url(../images/icon-map.png) center no-repeat;
						}
						.btn.inf a{
							background: url(../images/icon-info.png) center no-repeat;
						}
						.btn.sea a{
							background: url(../images/icon-search.png) center no-repeat;
						}
						.btn.cam a{
							background: url(../images/icon-camera.png) center no-repeat;
						}
