/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/******* STYLING *********/

@font-face {font-family: 'LitteraPlainMedium';src: url('../webfonts/23E250_0_0.eot');src: url('../webfonts/23E250_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23E250_0_0.woff') format('woff'),url('../webfonts/23E250_0_0.ttf') format('truetype');}

body{
	width: 100%;
	height: 100%;
	font-family: 'Enriqueta', Helvetica, Arial, Sans-Serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 180%;
	color: #58b6dd;
	background: #A2A2A2;
}
h1, .info h2{
	font-family: 'LitteraPlainMedium',Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 110%;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h2{
	font-weight: 700;
	font-size: 125%;
	color: black;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
	#cont{
		margin: 0 auto;
		border: solid 1px #7E7E7E;
		/* iPhone 5 specs */
		width: 640px;
		height: 1136px;
		background: white;
		position: relative;
	}
		#wrap{
			width: 100%;
			height: 92%;
		}
			.main.blurb{
				width: 80%;
				height: 70%;
				padding: 15% 10%;
			}
				.blurb h1{
					margin-bottom: 2.5em;
				}
				.blurb p{
					margin-bottom: 2em;
				}
				.blurb .logo-lnk{
					width: 80%;
					height: auto;
					display: block;
				}
				.blurb .logo{
					padding: 0.5em 0;
				}
			.main.feed, .main.single{
				width: 100%;
				height: 100%;
				overflow: auto;
				position: relative;
			}
				.main.feed li{
					width: 100%;
					height: 280px;
					clear: both;
				}
					.main.feed .crop{
						width: 50%;
						height: 100%;
						background-position: center center;
					}
					.main.feed .info{
						width: 40%;
						height: 200px;
						padding: 50px 5% 30px;
						font-size: 70%;
						line-height: 150%;
						background-color: #ffffff;
					  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7)); /* Chrome, Safari 4+ */
					  	background-image: -webkit-linear-gradient(top, #ffffff, #e8e7e7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
					  	background-image:    -moz-linear-gradient(top, #ffffff, #e8e7e7); /* Firefox 3.6-15 */
					  	background-image:      -o-linear-gradient(top, #ffffff, #e8e7e7); /* Opera 11.10-12.00 */
					  	background-image:         linear-gradient(to bottom, #ffffff, #e8e7e7);
					}
						.info a{
							text-decoration: none;
							color: black;
						}
						.info h2{
							font-size: 150%;
							text-transform: none;
							margin-bottom: 1em;
						}
						.info p.desc, .info p.desc a{
							color: #57b6dd;
						}
						.info p.location{
							font-size: 90%;
							color: black;
							margin-top: 1em;
						}
						.info p.geo{
							font-size: 75%;
							color: black;
							line-height: 130%;
						}
					.main.feed .odd .crop,
					.main.feed .even .info{
						float: left;
					}
					.main.feed .even .crop,
					.main.feed .odd .info{
						float: right;
					}
				.main.single{
					overflow: hidden;
				}
					.main.single .img-bg{
						width: 100%;
						height: 100%;
						display: block;
						background-position: center;
						background-repeat: no-repeat;
					}
					.main.single .img-btns,
					.main.map .map-btns{
						width: 100%;
						height: auto;
						position: relative;
					}
						.main.single .img-btns .btn-back,
						.main.single .img-btns .btn-info,
						.main.map .map-btns .btn-back,
						.main.map .map-btns .btn-info{
							width: 60px;
							height: 59px;
							display: block;
							position: absolute;
							z-index: 500;
						}
						.main.single .img-btns .btn-back,
						.main.map .map-btns .btn-back{
							top: 3em;
							left: 10%;
						}
						.main.single .img-btns .btn-info,
						.main.map .map-btns .btn-info{
							top: 3em;
							right: 10%;
						}
							.main.single .img-btns a,
							.main.map .map-btns a{
								background: url(../images/single-img-btns.png);
								width: 100%;
								height: 100%;
								display: block;
								text-indent: -9999px;
							}
							.main.single .img-btns .btn-back a,
							.main.map .map-btns .btn-back a{
								background-position: left;
							}
							.main.single .img-btns .btn-info a,
							.main.map .map-btns .btn-info a{
								background-position: right;
							}
					.main.single .img-back{
						width: 100%;
						height: 100%;
						z-index: 200;
						display: block;
						position: absolute;
						top: 0;
						background-color: #ffffff;
					  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7)); /* Chrome, Safari 4+ */
					  	background-image: -webkit-linear-gradient(top, #ffffff, #e8e7e7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
					  	background-image:    -moz-linear-gradient(top, #ffffff, #e8e7e7); /* Firefox 3.6-15 */
					  	background-image:      -o-linear-gradient(top, #ffffff, #e8e7e7); /* Opera 11.10-12.00 */
					  	background-image:         linear-gradient(to bottom, #ffffff, #e8e7e7);
					}
						/* Image element version */
						/*.img-back .img-big{
							width: 90%;
							height: auto;
							margin: 0 auto;
							padding-top: 20%;
						}*/
						/* Background image version */
						.img-back .img-big{
							width: 100%;
							height: 100%;
							margin: 0 auto;
							background-position: center;
							background-repeat: no-repeat;
							background-size: auto 100%;
						}
							.img-back .img-big img{
								-webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,0.2); /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          						box-shadow: 4px 4px 30px 0px rgba(0,0,0,0.2);
							}
					.main.single .img-info,
					.main.single .map-info{
						position: absolute;
						width: 100%;
						height: 30%;
						bottom: -30%;
						z-index: 500;
						display: block;
						background-color: #ffffff;
					  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F5F5F5)); /* Chrome, Safari 4+ */
					  	background-image: -webkit-linear-gradient(top, #ffffff, #F5F5F5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
					  	background-image:    -moz-linear-gradient(top, #ffffff, #F5F5F5); /* Firefox 3.6-15 */
					  	background-image:      -o-linear-gradient(top, #ffffff, #F5F5F5); /* Opera 11.10-12.00 */
					  	background-image:         linear-gradient(to bottom, #ffffff, #F5F5F5);
					  	-webkit-box-shadow: 0px -6px 30px 0px rgba(0,0,0,0.25); /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          				box-shadow: 0px -6px 30px 0px rgba(0,0,0,0.25);
          				transition: bottom .5s;
          				-moz-transition: bottom .5s;
          				-webkit-transition: bottom .5s;
          				-o-transition: bottom .5s;
					}
					.main.single .img-info.open,
					.main.single .map-info.open{
						bottom: 0;
					}
						.img-info .info-inner,
						.map-info .info-inner{
							width: 80%;
							height: 100%;
							margin: 0 auto;
							font-size: 80%;
						}
							.info-inner .location, .info-inner .coor{
								font-size: 90%;
								color: black;
							}
							.info-inner h2{
								padding-top: 10%;
							}

			.main.map{
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
				#map-canvas{
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 200;
				}

		footer{
			width: 100%;
			height: 8%;
			display: block;
			background-color: #57b6dd;
	  		background-image: -webkit-gradient(linear, left top, left bottom, from(#57b6dd), to(#4ea1d3)); /* Chrome, Safari 4+ */
	        background-image: -webkit-linear-gradient(top, #57b6dd, #4ea1d3); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	        background-image:    -moz-linear-gradient(top, #57b6dd, #4ea1d3); /* Firefox 3.6-15 */
	        background-image:      -o-linear-gradient(top, #57b6dd, #4ea1d3); /* Opera 11.10-12.00 */
	        background-image:         linear-gradient(to bottom, #57b6dd, #4ea1d3); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}
			.menu{
				float: left;
				width: 100%;
				height: 100%;
			}
				.menu li{
					float: left;
					width: 15%;
					height: 100%;
					text-indent: -9999px;
					transition: background .2s;
					-moz-transition: background .2s;
					-webkit-transition: background .2s;
					-o-transition: background .2s;
				}
					.menu li.log{
						width: 25%;
					}
					.menu li.active{
						background-color: #285e7f;
				  		background-image: -webkit-gradient(linear, left top, left bottom, from(#285e7f), to(#4591b0)); /* Chrome, Safari 4+ */
				        background-image: -webkit-linear-gradient(top, #285e7f, #4591b0); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
				        background-image:    -moz-linear-gradient(top, #285e7f, #4591b0); /* Firefox 3.6-15 */
				        background-image:      -o-linear-gradient(top, #285e7f, #4591b0); /* Opera 11.10-12.00 */
				        background-image:         linear-gradient(to bottom, #285e7f, #4591b0); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
					}
					.menu li:hover{
						background-color: rgba(40,94,127,0.15);
					}
						.menu li a{
							width: 100%;
							height: 100%;
							display: block;
						}
						.btn.log a{
							background: url(../images/logo-tdick.png) center no-repeat;
						}
						.btn.gal a{
							background: url(../images/icon-gallery.png) center no-repeat;
						}
						.btn.map a{
							background: url(../images/icon-map.png) center no-repeat;
						}
						.btn.inf a{
							background: url(../images/icon-info.png) center no-repeat;
						}
						.btn.sea a{
							background: url(../images/icon-search.png) center no-repeat;
						}
						.btn.cam a{
							background: url(../images/icon-camera.png) center no-repeat;
						}
		.array{
			color: black;
			font-size: 60%;
			line-height: 130%;
		}
